<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <img class="m-0" style="height: 40px;width: 40px" src="assets/Logo_Icon.png">
    <span class="title_logo">Jobify</span>
  </div>
  <div class="ui-toolbar-group-right">
    <button type="button" class="btn-primary btn m-1" (click)="navigateToJobs()">Jobs</button>
    <button type="button" class="btn btn-primary m-1" (click)="navigateToRequest()">Cereri</button>
    <p-splitButton label="Reviews" [model]="itemsReview" class="m-1"
    ></p-splitButton>
    <button *ngIf="user" class="btn btn-primary m-1" type="button" (click)="navigateToAccountSettings()">
      {{user.username}}
    </button>
    <button type="button" class="btn btn-primary m-1" (click)="navigateToLogout()">Logout</button>

  </div>
</p-toolbar>
