<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<br>
<div class="page-container">
  <div class="provider-card-root">
    <br>
    <h4>Cateva statistici utile:</h4>
    <br><br>

    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="c100 p{{angajati}}">
          <span>{{angajati}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-3">
        <br><br>
        <h4>dintre angajati au gasit deja persoane interesate</h4>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="c100 p{{angajatori}}">
          <span>{{angajatori}}%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
      </div>
      <div class="col-md-6 col-sm-3">
        <br><br>
        <h4>dintre angajatori au deja perosane interesate</h4>
      </div>

    </div>
  </div>



