/*.ui-widget-header {*/
/*background: rgb(189, 211, 255);*/
/*}*/

/*body .ui-toolbar{*/
/*background: rgb(189, 211, 255)!important;*/

/*}*/

.title_logo_client {
  color: #1613f2;
  text-align: start;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}

p-toolbar .btn {
  margin: 0.25rem !important;
}

p-toolbar button {
  width: auto !important;
}

p-splitButton {
  width: auto !important;
}
