<app-client-toolbar></app-client-toolbar>
<p-toast [style]="{marginTop: '75px'}"></p-toast>
<div class="main-container">
  <div class="review-container">
    <p> Adauga un review!</p>
    <p-dropdown [options]="providers" [(ngModel)]="review.userFor"></p-dropdown>
    <textarea [(ngModel)]="review.description" pInputTextarea></textarea>
    <p>Da o nota providerului cu care ai colaborat!</p>
    <p-rating (onRate)="handleRate($event)" [cancel]="false"></p-rating>
    <p-button label="Add review" (click)="onAssignClick()"></p-button>
  </div>
</div>
