<div class="provider-card-root">
  <div class="initials">MI</div>
  <div class="fullname">{{fullName}}</div>
  
  <img class="star " src="assets/star.png">
  <div class="ability">{{rating}}</div>
  <br>
  <div class="firstLabel">{{label1}}: </div>
  <div class="ability">{{abilitate1}}</div>
  <div class="secondLabel">{{label2}}: </div>
  <div class="ability">{{abilitate2}}</div>
  <br>
  <div class="ability">Recomandat de:</div>
  <div class="ability">{{numeRecomandat}}</div>
  <br>
  <div class="ability"> Mesaj:</div>
  <br>
  <div class="mesaj">{{mesaj}}</div>
</div>