<div class="provider-card-root">
  <div class="initials">MI</div>
  <div class="fullname">{{recommendation.recommendedProvider.firstName}}</div>

  <img class="star " src="assets/star.png">
  <div class="ability">{{rating}}</div>
  <br>
  <div *ngFor="let abilitate of recommendation.recommendedProvider.abilities">
    <div class="firstLabel">{{abilitate.display}}: </div>
    <div class="ability">{{abilitate.level}}</div>
  </div>
  <br>
  <div class="ability">Recomandat de:</div>
  <div class="ability">{{recommendation.recommender.firstName}}</div>
  <br>
  <div class="ability"> Mesaj:</div>
  <br>
  <div class="mesaj">{{recommendation.description}}</div>
</div>