.dialog-container{
  justify-content: center;
}

.ui-dialog-titlebar {
  background: #29b3f6 !important;
}

.ui-dialog-titlebar-close {
  color: white !important;
}

.ui-dialog-title {
  color: white;
}

.ui-dialog {
  background: #29b3f6 !important;
}

.borderless-disable-input {
  border: none !important;
  border-color: transparent !important;
  background: transparent !important;
}

.fa {
  margin-right: 12px;
}

