<div class="container-fluid" style="margin: auto">
  <div class="row justify-content-center my-3">
    <h2>
      Joburile mele
    </h2>
  </div>
</div>

<div class="container-fluid my-jobs">
  <div class="row">
    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Curatator de garduri {{ hero }}
        </dt>
        <dd>
          Iti dam foarfeca, tu vii si cureti
        </dd>
      </p-card>
    </div>

    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Spalator birouri
        </dt>
        <dd>
          Noi iti dam o carpa si un spray, tu vii si speli birouri
        </dd>
      </p-card>
    </div>

    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Java programator
        </dt>
        <dd>
          Programezi interviuri pentru java developeri
        </dd>
      </p-card>
    </div>

    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Spalator birouri
        </dt>
        <dd>
          Noi iti dam o carpa si un spray, tu vii si speli birouri
        </dd>
      </p-card>
    </div>

    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Spalator birouri
        </dt>
        <dd>
          Noi iti dam o carpa si un spray, tu vii si speli birouri
        </dd>
      </p-card>
    </div>

    <div class="col-md-3 my-2">
      <p-card>
        <dt>
          Spalator birouri
        </dt>
        <dd>
          Noi iti dam o carpa si un spray, tu vii si speli birouri
        </dd>
      </p-card>
    </div>
  </div>
</div>
