<app-toolbar-client></app-toolbar-client>

<div class="main-div">
<div style="margin-left: 10px;">
  <div><h4 class="title" align="center">Adauga o recomandare</h4></div>

  <div>
    <select class="selecter">
       <option value="Provider1">Provider1</option>
       <option value="Provider2">Provider2</option>
    </select>
  </div>
  <p></p>


<div>
    <select class="selecter">
      <option value="Client1">Client1</option>
      <option value="Client2">Client2</option>
    </select>
</div>
  <p></p>

      <div>
        <textarea class="form-control" class="mesaj" rows="4" type="text" placeholder="Mesaj"></textarea>
        <p></p>
      </div>


      <div style="align-content: space-evenly">
        <input type="button" class="anuleaza" value="Anuleaza" />
        <input type="submit" class="adauga" value="Adauga" />
      </div>
</div>
</div>
