<app-toolbar *ngIf="!user"></app-toolbar>
<app-provider-toolbar *ngIf="user && user.role ==='PROVIDER'"></app-provider-toolbar>
<app-client-toolbar *ngIf="user && user.role ==='CLIENT'"></app-client-toolbar>


<div class="page-container">
  <div class="row page-title">Lista Joburilor disponibile
  </div>
  <div class="card-jobs-container">
    <div class="card-container" *ngFor="let job of availableJobs">
      <app-job [job]="job">
      </app-job>
    </div>
  </div>
  <p-toast class="ui-toast-top-left"></p-toast>
</div>
