<app-toolbar-client></app-toolbar-client>

<div class="container-fluid my-div-class">
  <div class="row mb-3 mt-3">
    <div class="col text-center">
      <h3 class="text-center">
        Profil
      </h3>
    </div>
  </div>
  <div class="container-fluid my-border mb-4">
    <div class="row mt-4 form-group mx-1">
      <div class="col-md-12">
        <div class="float-container">
          <label for="email">Email</label>
          <input class="my-inputs" id="email" type="text" name="email"/>
        </div>
      </div>
    </div>

    <div class="row form-group mx-1">
      <div class="col-md-6">
        <div class="float-container">
          <label for="nume">Nume</label>
          <input class="my-inputs" id="nume" type="text" name="nume"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-container">
          <label for="prenume1">Prenume</label>
          <input class="my-inputs" id="prenume1" type="text" name="prenume1"/>
        </div>
      </div>
    </div>

    <div class="row form-group mx-1">
      <div class="col-md-6">
        <div class="float-container">
          <label for="prenume2">Prenume</label>
          <input class="my-inputs" id="prenume2" type="text" name="prenume2"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-container">
          <label for="prenume3">Prenume</label>
          <input class="my-inputs" id="prenume3" type="text" name="prenume3"/>
        </div>
      </div>
    </div>

    <div class="row form-group mx-1">
      <div class="col-md-6">
        <div class="float-container">
          <label for="telefon">Telefon</label>
          <input class="my-inputs" id="telefon" type="text" name="telefon"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-container">
          <label for="data-nasterii">Data nasterii</label>
          <input class="my-inputs" type="date" id="data-nasterii" name="data-nasterii"/>
        </div>
      </div>
    </div>

    <div class="row form-group mx-1">
      <div class="col-md-6">
        <div class="float-container">
          <label for="oras">Oras</label>
          <select name="oras" style="border: 0px; height: 54px" id="oras" class="my-select">
            <option value="Cluj">Cluj</option>
            <option value="Cluj">Alt oras</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-container">
          <label for="adresa">Adresa</label>
          <input class="my-inputs" id="adresa" type="text" name="adresa" />
        </div>
      </div>
    </div>

    <hr>

    <div class="row form-group mx-1">
      <div class="col">
        <p class="mt-2" style="color: #00b3f7">
          Schimba parola:
        </p>
      </div>
    </div>

    <div class="row form-group mx-1">
      <div class="col-md-8">
        <input name="parola-veche" class="my-inputs" type="text" placeholder="Parola veche"/>
      </div>
    </div>
    <div class="row form-group mx-1">
      <div class="col-md-8">
        <input name="parola-noua" class="my-inputs" type="text" placeholder="Parola noua"/>
      </div>
    </div>
    <div class="row form-group mx-1">
      <div class="col-md-8">
        <input name="parola-noua-again" class="my-inputs" type="text" placeholder="Confirma parola noua"/>
      </div>
    </div>
    <div class="row form-group mx-1">
      <div class="col-md-6">
        <a href="" class="btn btn-outline-danger" style="width: 100%">
          Sterge
        </a>
      </div>
      <div class="col-md-6">
        <input type="submit" class="btn btn-block" style="width: 100%;text-decoration-color: white"/>
      </div>
    </div>
  </div>
</div>
