<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="navbar" id="myNavbar">
  <form class="navbar-form navbar-left">
    <img class="logo " src="assets/Logo_Icon.png">
    <h2 class="left disabled">Jobify</h2>
  </form>
  <form class="navbar-form navbar-right">
    <a href="logout">Log Out</a>
    <a href="provider/account-settings" *ngIf='currentUser'>{{this.currentUser.username}}</a>
    <a href="#">Review-uri</a>
    <a href="request/provider">Cereri</a>
    <a href="#">Joburi</a>
    <a style="font-size:10px;" class="icon" (click)="open()">&#9776;</a>

  </form>

</div>
