<app-client-toolbar></app-client-toolbar>
<p-toast position="top-right"></p-toast>
<div class="row justify-content-center m-5" style="color: #384A50;font-size: 24px;font-family: 'Open Sans'">Adaugă un
  job
</div>
<div class="row justify-content-center">
  <p-card class="col-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-right: 0">
      <div class="form-row m-3 mr-0">
        <div class="col">
          <input   type="text" name="title" class="ui-input" formControlName="title" placeholder="Titlu"
          required="required">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col-6 ui-fluid" >
          <p-calendar
            placeholder="Dată începere"
            dateFormat="dd/mm/yy"
            formControlName="periodStart"
          ></p-calendar>
        </div>
        <div class="col-6 ui-fluid">
          <p-calendar
            placeholder="Oră începere"
            dateFormat="dd/mm/yy"
            timeOnly="true"
            hourFormat="24"
            formControlName="startTime"
          ></p-calendar>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col-6 ui-fluid">
          <p-calendar
            placeholder="Dată încheiere"
            dateFormat="dd/mm/yy"
            hourFormat="24"
            formControlName="periodEnd"
          ></p-calendar>
        </div>
        <div class="col-6 ui-fluid">
          <p-calendar
            placeholder="Oră încheiere"
            dateFormat="dd/mm/yy"
            timeOnly="true"
            hourFormat="24"
            formControlName="endTime"
          ></p-calendar>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col-6">
          <input type="number" class="ui-input" formControlName="hoursPerDay" placeholder="Ore lucru/zi">
        </div>
        <div class="col-6">
          <input type="number" class="ui-input" formControlName="hoursPerWeek"
                 placeholder="Ore lucru/săptămână">
        </div>

      </div>
      <div class="form-row m-3">
        <div class="col">
          <input type="number" class="ui-input" formControlName="peopleRequired"
                 placeholder="Număr persoane necesare">
        </div>
        <div class="col">
          <p-dropdown [options]="categories"  formControlName="category"
                      placeholder="Categorie"></p-dropdown>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col">
          <input type="text" class="ui-input" formControlName="location"
                 placeholder="Locație">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col">
          <textarea pInputTextarea class="ui-input" autoResize="true" [rows]="5"
                    placeholder="Scurtă descriere"
                    formControlName="description"></textarea>
        </div>
      </div>
      <div class="form-row m-3" style="color: #384A50;font-family: 'Open Sans';font-size: 14px">
        <div class="col"  style="color: #29B3F6;font-family: 'Open Sans';font-size: 14px">
          Adaugă abilități pentru a ușura gasirea unui potențial angajat
        </div>
      </div>
      <div class="form-row m-3" style="color: #384A50;font-family: 'Open Sans';font-size: 14px">
        <div class="col">
          <ng-template #abilities></ng-template>
        </div>

      </div>
      <div class="form-row m-3">
        <div class="col" style="color: #29B3F6;font-family: 'Open Sans';font-size: 14px" (click)="addAbilityComponent()">Adaugă abilitate</div>
      </div>
      <div></div>
      <div class="form-row m-3">
        <div class="col">
          <p-button type="submit"  class="ui-button-primary" label="Adaugă"></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>

