<div class=".provider-list"></div>

<p>Clientii la care a fost angajat acest provider</p>
<p-table [value]="clients" [metaKeySelection]="false"
         selectionMode="single"
         dataKey="Id client">
  <ng-template pTemplate="header">
    <tr>
      <th>Id client</th>
      <th>Username</th>
      <th>Password</th>
      <th>Rol</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Data nasterii</th>
      <th>Adresa</th>
      <th>Oras</th>
      <th>Tara</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Telefon</th>
      <th>Cod postal</th>
      <th>Subscribed</th>
      <th>Twitter</th>
      <th>Abilitati</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-request>
    <tr (click)="selectedClient = client.id;onRowClicked();">
      <td>{{client.id}}</td>
      <td>{{client.username}}</td>
      <td>{{client.password}}</td>
      <td>{{client.role}}</td>
      <td>{{client.firstName}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.birthDate}}</td>
      <td>{{client.address}}</td>
      <td>{{client.city}}</td>
      <td>{{client.country}}</td>
      <td>{{client.email}}</td>
      <td>{{client.facebook}}</td>
      <td>{{client.instagram}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.postalCode}}</td>
      <td>{{client.subscribed}}</td>
      <td>{{client.twitter}}</td>
      <td>{{client.abilities}}</td>
    </tr>
  </ng-template>
</p-table>

<button pButton type="button" label="Add review" (click)="handleClick()"></button>
<p-button label="Add review" (onClick)="handleClick()"></p-button>


<app-toolbar-provider>
  [display]="display"
  [clientId]="selectedClient"
  (displayChange)="onDialogClose($event)">
</app-toolbar-provider>
