

.navbar {
    overflow: hidden;
    background-color: rgb(79, 116, 216);  
    /* position: fixed; */
    bottom: 0;
    /* height: 50px; */
    width: 100%;
  }
  
  .disabled {
    pointer-events: none;
    cursor: default;
  }
  .navbar a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }
  
  img{
    padding: 5px;
    width: 60px;
    float: left;
   
  }
  
  
  .navbar .left{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(151, 165, 241);
    color: black;
  }
  
  .navbar a.active {
    /* background-color: #4CAF50; */
    color: white;
  }
  
  .navbar .icon {
    display: none;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }