<app-toolbar-client></app-toolbar-client>

<div class="page-container">

    <div class="row page-title">Provider
    </div>
    <div class="row page-subtitle">Selecteaza unul sau mai multi provideri pentru job
    </div>
    <div class="row page-subtitle">
        Filtreaza
    </div>
    <div class="row rating-container">
            <input type="number"
            max="5"
            class="form-control"
            name="rating"
            [(ngModel)]="rating"
            placeholder="Rating"/>
        </div>
    <form>
    <div class="row filters-container">
        <div class="col-4 m-3" style="color: #384A50;font-family: 'Open Sans';font-size: 14px">
                <ng-template #abilities></ng-template>
        </div>
        <div class="row m-3">
            <div class="col" style="color: #29B3F6;font-family: 'Open Sans';font-size: 14px"
                 (click)="addAbilityComponent()">Adaugă abilitate</div>
        </div>
    </div>
    <div class="row filters-container">
      <button (click)="applyFilters()" pButton class="ui-button-primary btn" label="Filtreaza"></button>
    </div>
      <div class="row filters-container">
        <button (click)="clearFilters()" pButton class="ui-button-primary btn" label="Reset"></button>
      </div>
    </form>
    
    <div class="row card-container"
        *ngFor="let provider of providers">
        <app-provider-card class="provider-card" 
                            [fullName]="provider.firstName ? provider.firstName + ' ' + provider.lastName : provider.username" 
                            [abilitati]="provider.abilities"
                            [rating]="provider.starAvg"
                            ></app-provider-card>
        <input (click)="onCheckboxClick(provider.id)" class="check" type="checkbox">
    </div>

    <div class="row bottom-buttons">
        <button pButton class="ui-button-danger btn" label="Anuleaza"></button>
        <button (click)="showDialog()" pButton class="ui-button-primary btn" label="Asigneaza"></button>
    </div>
    <div class="row navigate-buttons">
        <div *ngIf="pageNumber !== 0" class="previous-button" (click)="getPreviousProviders()">Prev</div>
        <div class="next-button" (click)="getNextProvidersPage()">Next</div>
    </div>

    <app-dialog-box [display]="display" (displayChange)="onDialogClose($event)" (jobAssigned)="onJobAssign($event)"></app-dialog-box>
    <p-toast class="ui-toast-top-left"></p-toast>
</div>
