<app-toolbar-client></app-toolbar-client>
<div class="page-container">

    <div class="row page-title">Provider
    </div>
    <div class="row page-subtitle">Selecteaza unul sau mai multi provideri pentru job
    </div>
    
    <div class="row card-container">
        <app-provider-card class="provider-card" 
                            [fullName]="'Marian Iulian'" 
                            [label1]="'Limba Engleza'" [abilitate1]="'Experimentat'" [label2]="'Programare'" [abilitate2]="'Experimentat'"
                            ></app-provider-card>
    
    </div>
    
    
    <div class="row bottom-buttons">
        <button pButton class="ui-button-danger" label="Anuleaza"></button>
        <button pButton class="ui-button-primary" label="Asigneaza"></button>
    </div>
</div>
