<app-client-toolbar></app-client-toolbar>
<div class="row justify-content-center m-5" style="color: #384A50;font-size: 24px;font-family: 'Open Sans'; ">
  Reviewurile
  tale
</div>
<div class="row d-flex justify-content-center">
  <div class="col-8">
    <app-review-list [type]="'received'" [reviews]="receivedReviews"></app-review-list>
  </div>
</div>
<div class="row d-flex justify-content-center mt-4"
     style="color: #384A50;font-size: 18px;font-family: 'Open Sans'; font-weight: bold">
  <div class="col-4 ">
    Rating:
  </div>
  <div class="col-4" style="text-align: end;">
    <span>
      <span *ngFor="let item of [].constructor(this.floorRating);">
        <i class="fa fa-star star-icon" aria-hidden="true"></i></span>
      <span *ngIf="this.rating===this.floorRating-1 && this.rating!==0">
        <i class="fa fa-star star-icon" aria-hidden="true"></i>
      </span>
      <span *ngIf="this.rating !== this.floorRating">
       <i class="fa star-icon fa-star-half" aria-hidden="true"></i>
      </span>
    </span>
    {{rating}}
  </div>
</div>
