{{ form.value | json }}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row d-flex">
    <div class="col-4" s>
      <label>Titlu</label>
      <input type="email" formControlName="title" placeholder="Titlu" class="form-control">
    </div>
  </div>
  <div class="row">
    <label class="col-12">Perioadă de începere</label>
  </div>
  <div class="form-row" formGroupName="period">
    <div class="form-group col-2" formGroupName="start">
      <p-calendar
        placeholder="Data"
        showIcon="true"
        dateFormat="dd/mm/yy"
        showTime="true"
        hourFormat="24"
        formControlName="date"
      ></p-calendar>
    </div>
    <div class="form-group col-2" formGroupName="start">
      <p-calendar
        placeholder="Ora"
        dateFormat="dd/mm/yy"
        timeOnly="true"
        hourFormat="24"
        formControlName="time"
      ></p-calendar>
    </div>
  </div>
  <div class="row">
    <label class="col-12">Perioadă de încheiere</label>
  </div>
  <div class="form-row" formGroupName="period">
    <div class="form-group col-2" formGroupName="end">
      <p-calendar
        placeholder="Data"
        showIcon="true"
        dateFormat="dd/mm/yy"
        showTime="true"
        hourFormat="24"
        formControlName="date"
      ></p-calendar>
    </div>
    <div class="form-group col-2" formGroupName="end">
      <p-calendar
        placeholder="Ora"
        dateFormat="dd/mm/yy"
        timeOnly="true"
        hourFormat="24"
        formControlName="time"
      ></p-calendar>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-2" formGroupName="hours">
      <label>Ore de lucru</label>
      <div class="row">
        <div class="col-6"><input type="number" class="form-control" formControlName="perDay" placeholder="ore/zi">
        </div>
        <div class="col-6"><input type="number" class="form-control" formControlName="perDay" placeholder="ore/zi">
        </div>
      </div>
    </div>
    <div class="form-group col-2">
      <label>Nr. persoane necesare</label>
      <input type="number" class="form-control" formControlName="noOfNeededPersons" placeholder="ore/zi">
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <label>Scurtă descriere</label>
      <textarea pInputTextarea class="form-control" rows="7" autoResize="true" cols="70" formControlName="description"
                class="ui-inputgroup"></textarea>
    </div>
  </div>
  <button type="submit">Adaugă</button>
</form>
