
<div class="row justify-content-center">
  <p-card class="col-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row m-3">
        <div class="col">
          <input type="text" name="title" class="ui-input" formControlName="title" placeholder="Titlu"
                 required="required">
        </div>
      </div>
      <div class="form-row m-3" formGroupName="period">
        <div class="col-6" formGroupName="start">
          <p-calendar
            placeholder="Dată începere"
            dateFormat="dd/mm/yy"
            formControlName="date"
          ></p-calendar>
        </div>
        <div class="col-6" formGroupName="start">
          <p-calendar
            placeholder="Oră începere"
            dateFormat="dd/mm/yy"
            timeOnly="true"
            hourFormat="24"
            formControlName="time"
          ></p-calendar>
        </div>
      </div>
      <div class="form-row m-3" formGroupName="period">
        <div class="col-6" formGroupName="end">
          <p-calendar
            placeholder="Dată încheiere"
            dateFormat="dd/mm/yy"
            hourFormat="24"
            formControlName="date"
          ></p-calendar>
        </div>
        <div class="col-6" formGroupName="end">
          <p-calendar
            placeholder="Oră încheiere"
            dateFormat="dd/mm/yy"
            timeOnly="true"
            hourFormat="24"
            formControlName="time"
          ></p-calendar>
        </div>
      </div>
      <div class="form-row m-3" formGroupName="hours">
        <div class="col-6">
          <input type="number" class="ui-input" formControlName="perDay" placeholder="Ore lucru/zi">
        </div>
        <div class="col-6">
          <input type="number" class="ui-input" formControlName="perDay"
                 placeholder="Ore lucru/săptămână">
        </div>

      </div>
      <div class="form-row m-3">
        <div class="col">
          <input type="number" class="ui-input" formControlName="noOfNeededPersons"
                 placeholder="Număr persoane necesare">
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col">
          <textarea pInputTextarea class="ui-input" autoResize="true" [rows]="5"
                    placeholder="Scurtă descriere"
                    formControlName="description"></textarea>
        </div>
      </div>
      <div class="form-row m-3">
        <div class="col">
          <p-button type="submit" class="ui-button-primary" label="Adaugă"></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>

