{{getAbility() | json}}
<div class="row">
  <div class="col-6">
    <p-autoComplete [(ngModel)]="selectedAbility" [suggestions]="filteredAbilities"
                    (completeMethod)="filterAbilities($event)" field="display" [size]="10"
                    placeholder="Abilitate" [minLength]="1" [dropdown]="true"></p-autoComplete>
  </div>
  <div class="col-6">
    <p-autoComplete [(ngModel)]="selectedLevel" [suggestions]="filteredLevels"
                    (completeMethod)="filterLevel($event)" field="display" [size]="5"
                    placeholder="Nivel" [minLength]="1" [dropdown]="true"></p-autoComplete>
  </div>
</div>
