<app-toolbar *ngIf="!user"></app-toolbar>
<app-provider-toolbar *ngIf="user && user.role ==='PROVIDER'"></app-provider-toolbar>
<app-client-toolbar *ngIf="user && user.role ==='CLIENT'"></app-client-toolbar>

<div>
  <h3>Aplicatia noastra se mandreste cu:</h3>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="provider-card-root">
        <br>
        <h4>Cateva statistici utile:</h4>
        <br><br>

        <div class="row">
          <div class="col-md-4 col-sm-5">
            <div class="c100 p{{angajati}}">
              <span>{{angajati}}%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <br><br>
            <h4>dintre angajati au gasit deja persoane interesate</h4>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <div class="c100 p{{angajatori}}">
              <span>{{angajatori}}%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-3">
            <br><br>
            <h4>dintre angajatori au deja perosane interesate</h4>
          </div>

        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="content">
        <div class="row">
          <div class="col-12 m6">
            <div class="card blue-grey darken-1">
              <div class="row">
                <img src="assets/jobs.png" class="logo">
                <a class="text" href="../jobs">{{availableJobs}} job(uri) disponibil(e) </a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="row">
                <img src="assets/contracts.png" class="logo">
                <p class="text">{{contractsNo}} contract(e) realizat(e)</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="row">
                <img src="assets/providers.png" class="logo">
                <p class="text">{{providersNo}} tineri in cautarea unui job</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="row">
                <img src="assets/rating.png" class="logo">
                <p class="text">{{usersWithMaxRating}} utilizatori cu 5 stele</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="m-4 row">Despre noi:</h3>
  <p-card class="m-4 row">Jobify este o platformă online prin care studenții, și numai aceștia își pot găsi joburi
    part-time.
    De asemenea, cei interesați de angajarea unor persoane pe o perioadă scurtă de timp au posibilitatea de a oferii
    oportunități de angajare.
  </p-card>
  <div class="register row" *ngIf="!user">
    <div class="col-6"><h3>Înscrie-te și tu!</h3></div>
    <div class="col-6 d-flex justify-content-end">
      <p-button label="Inregistreaza-ma" [routerLink]="['../register']"></p-button>
    </div>
  </div>
  <div class="register row" *ngIf="!user">
    <div class="col-6"><h3>Ai cont? Autentifică-te!</h3></div>
    <div class="col-6 d-flex justify-content-end">
      <p-button label="Autentificare" [routerLink]="['../login']"></p-button>
    </div>
  </div>
</div>



