<app-client-toolbar></app-client-toolbar>
<div class="row justify-content-center m-5" style="color: #384A50;font-size: 24px;font-family: 'Open Sans'">Reviewurile
  adăugate
</div>
<div class="row justify-content-center m-5">
  <button type="button" class="btn btn-primary" (click)="goToNewReview()">Adaugă un nou review</button>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-8">
    <app-review-list [type]="'added'" [reviews]="addedReviews"></app-review-list>
  </div>
</div>

