.login-card-root{
  margin-left: auto;
  margin-right: auto;

}
.title-container{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-button{
  margin-top: 5px;
  width: 100%;
}
.facebook-login-button{
  color: #343f91 !important;
  width: 100%;
  display: flex;
  justify-content: center;
}
.alternative-text{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.bottom-text{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.register-link{
  color: #396dce !important;
}
