<app-toolbar></app-toolbar>

<div class="row login-card-root justify-content-center mt-5">
  <p-card class="col-4">
    <div class="title-container">
      <div class='logo'></div>
      <h3 class="app-title">Jobify</h3>
    </div>
    <form name="form"
          (ngSubmit)="login()"
          #f="ngForm">
      <div class="form-group"
           [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text"
               class="form-control"
               name="username"
               [(ngModel)]="model.username"
               #username="ngModel"
               placeholder="Username"
               required/>
        <div *ngIf="f.submitted && !username.valid"
             class="help-block">Campul trebuie completat
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input type="password"
               class="form-control"
               name="password"
               [(ngModel)]="model.password"
               #password="ngModel"
               placeholder="Parola"
               required/>
        <div *ngIf="f.submitted && !password.valid"
             class="help-block">Campul trebuie completat
        </div>
      </div>

      <div class="ui-fluid">
        <p-button type="submit"
                  class="login-button"
                  label="Logare"></p-button>
      </div>

      <p class="alternative-text">or</p>

      <div class="fb-login-button"
           data-width="25"
           data-max-rows="1"
           data-size="large"
           data-button-type="login_with"
           data-show-faces="false"
           data-auto-logout-link="false"
           data-use-continue-as="false"></div>
      <div class="bottom-text">
        <nav>Nu ai cont?
          <a class="register-link" routerLink='../register'>Creeaza cont</a>
        </nav>
        <br>

      </div>
    </form>
  </p-card>
  <p-toast position="top-right"></p-toast>
</div>


