<app-toolbar-provider></app-toolbar-provider>
<p-toast position="top-right"></p-toast>
<div class="container-fluid my-div-class">
  <div class="row mb-3 mt-3">
    <div class="col text-center">
      <h3 class="text-center">
        Caută Joburi
      </h3>
    </div>
  </div>
</div>



<div class="container-fluid my-border mb-4">
  <form [formGroup]="form">

      <div class="text-center">
          Categorie de căutare:
      </div>

      
</form>

<!-- <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories" ></p-multiSelect> -->

<div>
  <p-button label="Filter"></p-button>
  <p-button label="Reset"></p-button>
</div>
</div>