<app-toolbar-client></app-toolbar-client>
<div class="page-container">

  <div class="row page-title">Recomandari Primite
  </div>
  <div class="row card-container">
    <app-recomandari-card class="provider-card" *ngFor = "let recomandare of listaRecomandariPrimite | async"
        [fullName]="'Marian Iulian'"
        [rating]="'3.45'"
        [label1]="'Limba Engleza'"
        [abilitate1]="'Experimentat'"
        [label2]="'Programare'"
        [abilitate2]="'Experimentat'"
        [numeRecomandat]="'Popescu Ion'"
        [mesaj]=recomandare.description></app-recomandari-card>
      
  </div>
</div>
