<app-client-toolbar></app-client-toolbar>

<div class="page-container">
  <div class="row page-title">
    Lista Joburi Create
  </div>

  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="goToNewJob()">Adaugă un job nou</button>
  </div>

  <div class="card-jobs-container">
    <div class="card-container" *ngFor="let job of availableJobs">
      <app-job-card
        [job]="job"
        [jobProviders]="setProvidersText(job.providers)">
      (editClicked)="navigateToEdit($event)">

      </app-job-card>
    </div>
  </div>

</div>
