<app-provider-toolbar></app-provider-toolbar>

<p>Cererile tale</p>
<p-table [value]="requests" [metaKeySelection]="false"
         selectionMode="single"
         dataKey="Nr Cerere">
  <ng-template pTemplate="header">
    <tr>
      <th>Nr Cerere</th>
      <th>Job</th>
      <th>Angajator</th>
      <th>Numar oameni</th>
      <th>Abilitati</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-request>
    <tr (click)="selectedRequest = request.nrCerere;onRowClicked();">
      <td>{{request.nrCerere}}</td>
      <td>{{request.job}}</td>
      <td>{{request.angajator}}</td>
      <td>{{request.peopleRequired}}</td>
      <td>{{request.abilities}}</td>
    </tr>
  </ng-template>
</p-table>

<app-request-details-dialog
  [display]="display"
  [requestId]="selectedRequest"
  (displayChange)="onDialogClose($event)">
</app-request-details-dialog>
